body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
#container {
    display: flex;
    width: 960px;
    height: 960px;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
}

.border {
    background-color: black;
    opacity: 0;
    box-sizing: border-box;
}